.contenedor-app {
  width: 400px;
  margin: 50px auto;
}

.resultados {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: rgb(39, 173, 218);
}

.contenedor-contador {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding-top: 20px;
}

.contenedor-contador .contador {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  background-color: white;
  border: 5px solid black;
}

.bandera {
  width: 60px;
  height: 54px;
  margin: 15px auto;
}

#san-lorenzo {
  display: flex;
}

#san-lorenzo div {
  width: 12px;
}

#san-lorenzo div:nth-child(even) {
  background-color: rgb(236, 33, 45);
}

#san-lorenzo div:nth-child(odd) {
  background-color: rgb(39, 59, 86);
}

#boca div {
  height: 18px;
}

#boca div:nth-child(even) {
  background-color: rgb(243, 178, 41);
}

#boca div:nth-child(odd) {
  background-color: rgb(16, 63, 121);
}

.botonera-app {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.boton-app {
  width: 100px;
  height: 50px;
  font-weight: bold;
  border-radius: 100px;
}

.botonera-app div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 3px solid white;
  border-radius: 20px;
  width: 150px;
  height: 250px;
}

.botonera-app div p {
  font-size: 2rem;
  font-weight: bold;
  margin: 5px 0px;
  color: white;
}